
.actionButtons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.right {
    justify-content: flex-end;
}